/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* nav */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* #2868FF #286878 */
:root{
    --main-color:#0484FC;
    --second-color:#2868FF;
    --text-color:#4C4C4C;
    --gradinet: linear-gradient(#0484FC,#2868FF,#4C4C4C);
}
/* Custom Sroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 0.9rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--gradinet);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

#logo{
    font-size: 40px;
    color: var(--main-color);
}
#logo:hover{
    font-size: 40px;
    color: var(--second-color);
}
/* home */
.home{
    width:100%;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.home video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}





/* สีปุ่ม Sign in
    .header-btn .sign-in{
    background: #474fa0;
    color: #FFF;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: var(--main-color);
} */

